version: '3.8'

networks:
  vault_net:
    external: true

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    user: "65534:65534"
    volumes:
      - {{ deploy_root }}/observability/config/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
      - '--web.external-url=http://prometheus.vault.local'
    networks:
      - vault_net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.prometheus.rule=Host(`prometheus.vault.local`)"
      - "traefik.http.routers.prometheus.entrypoints=web"
      # EXPLICIT PORT DEFINITION
      - "traefik.http.services.prometheus.loadbalancer.server.port=9090"
      # MIDDLEWARE
      - "traefik.http.middlewares.prom-auth.basicauth.users={{ traefik_auth }}"
      - "traefik.http.routers.prometheus.middlewares=prom-auth"

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)(157551|/)'
    networks:
      - vault_net

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    restart: unless-stopped
    privileged: true
    devices:
      - /dev/kmsg:/dev/kmsg
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    networks:
      - vault_net

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    user: "472:472"
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - vault_net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.grafana.rule=Host(`grafana.vault.local`)"
      - "traefik.http.routers.grafana.entrypoints=web"
      # EXPLICIT PORT DEFINITION
      - "traefik.http.services.grafana.loadbalancer.server.port=3000"
      # MIDDLEWARE
      - "traefik.http.middlewares.grafana-auth.basicauth.users={{ traefik_auth }}"
      - "traefik.http.routers.grafana.middlewares=grafana-auth"

volumes:
  prometheus_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: {{ deploy_root }}/observability/prometheus_data
  grafana_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: {{ deploy_root }}/observability/grafana_data
